@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
* {
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
}
body {
    background-color: #cef0dd;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.875em;
}
ul {
    list-style: none;
  }
h1 {
    color: #5acc8b;
    font-size: 1.75em;
}
a:hover {
    text-decoration: none;
}
.button {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 3px;
    background-color: #fff;
    background-image: linear-gradient(to right, #94deb4 50%, #fff 50%);
    background-size: 200%;
    background-position: 100% 0;
    font-size: 0.75rem;
    line-height: 20px;
    color: #5acc8b;
    text-align: center;
    white-space: nowrap;
    transition: 0.15s;
}
.button:hover {
    text-decoration: none;
    background-color: #94deb4;
    background-position: 0 0;
    color: #fff;
}
.button .icon {
    font-size: 1.25em;
    vertical-align: middle;
}
.b-white {
    background-color: #fff;
}
.nav-top {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0px 5px 0 rgba(68, 170, 119, 0.5);
    background-color: #fff;
}
.nav-side {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    padding-top: 70px;
    height: 100%;
    background-color: #5abd8b;
    transition: width 0.35s, transform 0.35s;
}
.nav-side .nav-side-button {
    transition: padding 0.35s;
}
.nav-side .nav-link {
    position: relative;
    display: block;
    padding: 10px 30px;
    color: #fff;
    white-space: nowrap;
    transition: background-color 0.35s, padding 0.35s;
}
.nav-side .nav-link:not(.active):hover {
    background-color: rgba(206, 240, 221, 0.2);
}
.nav-side .nav-link.active {
    border-right: solid 5px rgba(206, 240, 221, 0.2);
}
.nav-side .nav-link .icon {
    height: 20px;
    width: 20px;
    font-size: 1.25em;
    text-align: center;
}
.nav-side .button {
    position: relative;
    width: 100%;
    box-shadow: 5px 5px 0 #4a7;
}
.nav-side .button:first-of-type {
    margin-top: 10px;
}
.nav-side .link-text {
    white-space: nowrap;
}
.nav-toggle {
    position: relative;
    margin-left: 30px;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.nav-toggle:focus {
    outline: none;
}
.ham-bars, .ham-bars::before, .ham-bars::after {
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 17px;
    border-radius: 2px;
    background-color: #94deb4;
}
.ham-bars {
    transition: 0.4s;
}
.ham-bars::before, .ham-bars::after {
    content: '';
    transition: 0.4s;
}
.ham-bars::before {
    top: -6px;
}
.ham-bars::after {
    top: 6px;
}

.nav-is-default .nav-side {
    width: 270px;
    line-height: 1.875em;
    
}
@media (max-width: 767px) {
    .nav-is-default .nav-side {
        transform: translateX(-100%);
   }
}
.nav-is-default .nav-side-button {
    padding: 0 30px;
}
.nav-is-default .nav-side .nav-link .icon {
    margin-right: 0.75em;
    transition: width 0.5s 0.1s;
}
.nav-is-default .nav-side .link-text {
    opacity: 1;
    transition: opacity 0.2s 0.35s;
}
@media (min-width: 768px) {
    .nav-is-default .nav-toggle:hover .ham-bars::before {
        transform: translateX(-50%) translateY(3px) rotate(-45deg) scaleX(0.5);
   }
    .nav-is-default .nav-toggle:hover .ham-bars::after {
        transform: translateX(-50%) translateY(-3px) rotate(45deg) scaleX(0.5);
   }
}
@media (min-width: 768px) {
    .nav-is-toggled .nav-side {
        width: 90px;
   }
    .nav-is-toggled .nav-side .nav-side-button {
        padding: 0 10px;
   }
    .nav-is-toggled .nav-side .button:hover .link-text, .nav-is-toggled .nav-side .nav-link:hover .link-text {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        transition: 0.3s ease-in;
   }
    .nav-is-toggled .nav-side .button .link-text, .nav-is-toggled .nav-side .nav-link .link-text {
        position: absolute;
        padding: 7px 15px;
        max-width: 175px;
        width: auto;
        border-radius: 15px;
        box-shadow: 5px 5px 0 #5acc8b;
        background-color: #fff;
        color: #5abd8b;
        font-size: 0.75rem;
        line-height: 1.25em;
        letter-spacing: 0.03em;
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-10px);
        transition: opacity 0.2s 0.35s;
   }
    .nav-is-toggled .nav-side .nav-link {
        padding-left: 20px;
        padding-right: 20px;
        transition: background-color 0.35s, padding 0.35s 0.1s;
   }
    .nav-is-toggled .nav-side .nav-link .link-text {
        top: 10px;
        left: calc(100% + 10px);
   }
    .nav-is-toggled .nav-side .button {
        padding-left: 0;
        padding-right: 0;
   }
    .nav-is-toggled .nav-side .button .link-text {
        top: 0;
        left: calc(100% + 20px);
   }
    .nav-is-toggled .nav-toggle:hover .ham-bars::before {
        transform: translateX(50%) translateY(3px) rotate(45deg) scaleX(0.5);
   }
    .nav-is-toggled .nav-toggle:hover .ham-bars::after {
        transform: translateX(50%) translateY(-3px) rotate(-45deg) scaleX(0.5);
   }
}
@media (max-width: 767px) {
    .nav-is-toggled .nav-side {
        width: 270px;
        transform: translateX(0);
   }
    .nav-is-toggled .nav-side .nav-side-button {
        padding: 0 30px;
   }
    .nav-is-toggled .nav-side .nav-link .icon {
        margin-right: 0.75em;
        transition: width 0.5s 0.1s;
   }
    .nav-is-toggled .ham-bars {
        background-color: transparent;
   }
    .nav-is-toggled .ham-bars::before, .nav-is-toggled .ham-bars::after {
        top: 0;
        transition: top 0.2s, transform 0.4s 0.35s cubic-bezier(0, 0.51, 0.31, 1.51);
   }
    .nav-is-toggled .ham-bars::before {
        transform: rotate(45deg);
   }
    .nav-is-toggled .ham-bars::after {
        transform: rotate(-45deg);
   }
}
.main-content {
    transition: 0.35s;
}
@media (min-width: 768px) {
    .nav-is-default .main-content {
        padding-left: 270px;
   }
    .nav-is-toggled .main-content {
        padding-left: 60px;
   }
    .main-content .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
   }
}
@media (max-width: 767px) {
    body::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;
   }
    .nav-is-toggled {
        height: 100%;
        overflow: hidden;
   }
    .nav-is-toggled::after {
        opacity: 1;
        visibility: visible;
   }
    .nav-is-toggled .main-content {
        transform: translateX(270px);
   }
}
.hero {
    padding-top: 80px;
    padding-bottom: 10px;
    min-height: 120px;
    background-color: #94deb4;
}
.content-block {
    margin-bottom: 30px;
    height: 150px;
    box-shadow: 5px 5px 0 #94deb4;
    background-color: #fff;
}
.module-row {
    display: flex;
    flex-wrap: wrap;
}
.module-row .module {
    display: flex;
    flex-grow: 1;
    min-width: 250px;
}
.module-row .module .content-block {
    width: 100%;
}