.sidebar ul li:hover{
    background-color: #F5F5F5;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar ul li:hover a{
    color:white;
}

.active{
    background-color: #F5F5F5;
    color:white;
    border-radius: 5px;
}

.icon-dark{
  color: #cd6504
}

.hr-color{
    color:#f8a249
}